/* imports */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
/* root options */
:root {
  --brightRed: hsl(12, 88%, 59%);
  --darkBlue: hsl(228, 39%, 23%);
  --darkGrayishBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed: hsl(13, 100%, 96%);
  --varyLightGray: hsl(0, 0%, 98%);
}

/* global options */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam", sans-serif;
  font-size: 16px;
}

body {
  background: url(/images/bg-tablet-pattern.svg) no-repeat 111% -6%,
    url(/images/bg-tablet-pattern.svg) no-repeat -61% 57%;
  background-size: 50%;
}

li,
a {
  font-weight: 700;
  color: var(--darkBlue);
  text-decoration: none;
}

p {
  font-weight: 500;
  color: var(--darkGrayishBlue);
}

.btn {
  padding: 10px 28px;
  background-color: var(--brightRed);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(218, 216, 216);
  text-align: center;
  box-shadow: 0rem 0.3rem 0.8rem var(--brightRed);
}

.btn-hover:hover {
  opacity: 0.5;
  color: white;
}

/* header section */
header {
  width: 100%;
  margin: auto;
}

/* navbar section */
.navbar {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 2rem auto auto auto;
  z-index: 1;
}

#logo {
  cursor: pointer;
}

.links {
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0px 20px;
}

.links li a {
  transition: all 0.3s ease 0s;
}

.links li a:hover {
  color: var(--darkGrayishBlue);
}

/* header-top section */

.header-top {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: aqua; */
  margin: auto;
}

.entry-information {
  margin-top: 8rem;
  width: 40%;
  text-align: left;
}

.entry-information h1 {
  font-weight: 700;
  color: var(--darkBlue);
  font-size: 3.5rem;
  line-height: 4rem;
}

.entry-information p {
  margin: 2.5rem 0;
  text-align: justify;
  width: 75%;
}

.entry-information .btn {
  display: inline-block;
  /* margin-top: 2rem; */
}

.graphs {
  /* background-color: pink; */
  width: 50%;
  margin-top: 5rem;
  text-align: right;
}

/* main section */

/* Text-description section */

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 4.5rem auto;
}

.text-description {
  width: 50%;
  text-align: left;
}

.text-description h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--darkBlue);
  line-height: 2.8rem;
}

.text-description p {
  margin-top: 2rem;
  text-align: left;
  width: 60%;
}

/* list description section */
.list-description {
  width: 48%;
}

.list-point {
  display: flex;
  flex-direction: row;
}

.points-div {
  margin-left: 2rem;
  margin-bottom: 2.5rem;
}

.point-tag {
  width: 2rem;
  height: 2rem;
  padding: 1rem 1.5rem;
  border: 0.1rem solid var(--brightRed);
  border-radius: 1rem;
  background-color: var(--brightRed);
  display: flex;
  align-items: center;
}

.point-tag .tag-p {
  color: white;
  margin-left: -0.5rem;
  margin-top: -0.2rem;
}

.list-description p {
  width: 95%;
}

.point-title {
  font-weight: 700;
  color: var(--darkBlue);
  margin-bottom: 1rem;
}

/* People section */

.people {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.people-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--darkBlue);
}

.people-desc {
  min-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
}

.people-desc::-webkit-scrollbar {
  display: none;
}

.person {
  width: 41%;
  flex: 1 0 auto;
  background: var(--varyLightGray);
  margin: 5rem 1.2rem 4rem 1.2rem;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.person img {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
}

.person .name {
  color: var(--darkBlue);
  font-weight: 700;
  margin: 3.5rem auto 0 auto;
}

.person .person-desc {
  margin: 1rem 3rem 3rem 3rem;
}

/* Simplify section */
.simplify {
  margin-top: 10rem;
  width: 100%;
  background: var(--brightRed);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: relative;
}

.simplify-background {
  position: absolute;
  background: url("./images/bg-tablet-pattern.svg") no-repeat 25% 11%,
    url("./images/bg-tablet-pattern.svg") no-repeat 136% 120%;
  background-size: 40%;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.simplify .simplify-text {
  font-weight: 600;
  font-size: 2.5rem;
  width: 32%;
  margin: 4rem 0;
  line-height: 3rem;
}

.simplify .btn-color-reverse {
  background-color: white;
  color: var(--brightRed);
  box-shadow: 0rem 0.05rem 0.1rem var(--veryDarkBlue);
  z-index: 1;
  transition: all 0.3s ease;
}

.simplify .btn-color-reverse p {
  color: var(--brightRed);
}

.simplify .btn-color-reverse p:hover {
  opacity: 0.5;
}

/* Footer section */

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--veryDarkBlue);
}

/* Images section */

.images {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5rem 0;
}

#logo-white {
  margin-bottom: 6rem;
}

.images .icons img {
  margin: auto 0.2rem;
}

.images .icons img:hover {
  filter: invert(47%) sepia(69%) saturate(1978%) hue-rotate(337deg)
    brightness(96%) contrast(97%);
}

/* List section */

.footer .lists {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -5rem;
}

.footer .lists li {
  margin-bottom: 1.2rem;
  text-decoration: none;
  list-style: none;
}

.footer .lists a {
  font-weight: 400;
  color: var(--darkGrayishBlue);
}

.footer .lists a:hover {
  color: var(--brightRed);
}

/* Contact section */
.contact {
  width: 25%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact .contact-form {
  margin-bottom: 5rem;
}

input[type="email"] {
  padding: 10px 28px;
  border: 1px solid;
  border-radius: 2rem;
  outline: none;
  margin-right: 0.3rem;
}

.text-input-active {
  color: var(--brightRed);
  border: 1px solid var(--brightRed);
}

.valid-email {
  color: var(--brightRed);
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0.3rem 0 0 1.1rem;
  display: none;
  position: absolute;
}

.btn-no-shadow {
  outline: none;
  box-shadow: none;
}

.btn-no-shadow:hover {
  background: hsl(12, 100%, 74%);
}

.btn-no-shadow p {
  color: white;
}
